node_modules

# compiled output
ng-fused-app/dist
ng-fused-app/tmp
ng-fused-app/out-tsc
# Only exists if Bazel was run
ng-fused-app/bazel-out

# dependencies
ng-fused-app/node_modules

# profiling files
ng-fused-app/chrome-profiler-events*.json

# IDEs and editors
ng-fused-app/.idea
ng-fused-app/.project
ng-fused-app/.classpath
ng-fused-app/.c9/
ng-fused-app/*.launch
ng-fused-app/.settings/
ng-fused-app/*.sublime-workspace

# IDE - VSCode
ng-fused-app/.vscode/*
ng-fused-app/!.vscode/settings.json
ng-fused-app/!.vscode/tasks.json
ng-fused-app/!.vscode/launch.json
ng-fused-app/!.vscode/extensions.json
ng-fused-app/.history/*

# misc
ng-fused-app/.sass-cache
ng-fused-app/connect.lock
ng-fused-app/coverage
ng-fused-app/libpeerconnection.log
ng-fused-app/npm-debug.log
ng-fused-app/yarn-error.log
ng-fused-app/testem.log
ng-fused-app/typings

# System Files
ng-fused-app/.DS_Store
ng-fused-app/Thumbs.db
